# --- ILLEGAL FILES (NEVER UPLOAD) ---
*.gb
*.gbc
*.gba
*.nds
PokemonRed.gb

# --- PYTHON JUNK ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# --- OPTIONAL: Space Savers ---
# If your 'models' folder gets too huge (over 1GB), 
# uncomment the next line to ignore the backup zips
# models/*.zip
# !models/FINAL_SAVE.zip